.App {
	text-align: center;
	min-height: 210px;
	max-height: 650px;
	overflow: scroll;
	border: 2px solid gray;
	width: 30%;
	margin: 30px auto;
}

.border {
	border-bottom: 2px solid gray;
	width: 100%;
	margin: 0 auto;

	&:last-child {
		border-bottom: none;
	}
}
